body {
  background-color: rgb(151, 214, 170);
}

h1 {
  padding: 30px;
  text-align: center;
  background-color: rgb(52, 28, 78);
  color: white;
}

h2 {
  text-align: center;
}
h3 {
  padding: 10px;
  text-align: center;
  background-color: rgb(52, 28, 78);
  color: white;
} 

h4 {
  font-size: 100px;
  margin: 0;
  text-align: center;

}

h5 {
  margin-bottom: 20px;
  text-align: center;
}

p, hr {
  max-width: 60%; 
  margin: 0 auto; 
  margin-bottom: 20px;
  text-align:center;
}



